main {
    width: 100wh;
    height: 100vh;
}

.left-img img {
    width: 100%;
    height: 450px;
    object-fit: cover;
}

div.my-container {
    width: 900px;
    height: 500px;
    transform: translate(-50%, -50%);
}

div.right {
    height: 450px;
}

div.left-img {
    height: 450px;
}

.img-container {
    display: none;
}

.img-container.active {
    display: block;
}

div.my-small-img {
    height: 90px;
}

div.my-small-img img {
    width: 100%;
    height: 100%;
}

img.small-img {
    filter: brightness(35%);
}

div.arrow {
    background-color: gray;
    width: 30px;
    height: 30px;
    transform: translateX(-50%);
    z-index: 2;
}


img.active-small {
    border: 3px solid rgb(192, 197, 178);
    filter: none;
}

div#up {
    top: .5rem;
    left: 50%;
}

div#down {
    line-height: 1.7rem;
    bottom: .5rem;
    left: 50%;
}
